* {
margin : 0;
padding : 0;
}

table {
width : 300px;
margin : 10px auto;
border-collapse : collapse;
}

th, td {
border : solid 1px black;

text-align : center;
font-family : Arial;
font-size : 15px;
color : black;
}

th {
font-weight : bold;
background-color : #dddbd5;
}